---
---

@import "{{ site.theme }}";

#chapter_num {
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-weight: bold;
    color: #7c334f;
    text-transform: uppercase;
    text-align: center;
}

#nav_links {
    position: relative;
    z-index: 2;
    margin: auto;
    max-width: 500px;
}